<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Metro</title>
    <link rel="icon" href="imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-light fixed bg-light">
        <a class="navbar-brand" href="#">
            <img src="imgs/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Delhi Metro Booking System
        </a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<% if(!currentUser){ %>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">SignUp</a></li>
				<%}else{%>
				  <li><a href="#">Signed In As <%=currentUser.username%></a></li>
					<li><a href="/logout">Logout</a></li>
				<%}%>
			  </ul>
			</div>
    </nav>
	