<%- include("partials/header") %> 

    <div class="container" style="padding-top: 100px; ">
        <div class="row">
            <div class="col-md-7" style="border-right: 1px solid rgb(182, 179, 179);">
                <div class="row">
                    <h1>WELCOME TO DELHI METRO INSTANT SLOT BOOKING SYSTEM</h1>
                </div>
                <div class="row">
                    <img src="/imgs/map.jpg" style="width: 90%;">
                </div>

            </div>
             <div class="col-md-5" style="padding-left: 80px;">
               <div class="row">
               <h1 style="font-size: 60px; margin-left: 30px">Booking Portal</h1>
               <br>
               <br>
               <br>
               <br>
                    <div class="col-md-6">
                        <form action="/api/bookings/" method="POST">
                            <div class="form-group">
                                <label for="metroStations" style="font-weight: bold;">Select Source Station:</label>
                                <select class="form-control" id="metroStations" name="initialStation">
                                  <option value="samaypur badli">Samaypur Badli</option>
                                  <option value="rohini sector 18">Rohini Sector 18-19</option>
                                  <option value="haiderpur">Haiderpur Badli Mor</option>
                                  <option value="jahangirpuri">Jahangirpuri</option>
                                  <option value="adarsh nagar">Adarsh Nagar</option>
                                  <option value="azadpur">Azadpur</option>
                                  <option value="model town">Model Town</option>
                                  <option value="gtb nagar">GTB Nagar</option>
                                  <option value="vishwa vidyalaya">Vishwavidyalaya</option>
                                  <option value="vidhan sabha">Vidhan Sabha</option>
                                  <option value="civil lines">Civil Lines</option>
                                  <option value="kashmere gate">Kashmere Gate</option>
                                  <option value="chandni chowk">Chandni Chowk</option>
                                  <option value="chawri bazar">Chawri Bazar</option>
                                  <option value="new delhi">New Delhi</option>
                                  <option value="rajiv chowk">Rajiv Chowk</option>
                                  <option value="patel chowk">Patel Chowk</option>
                                  <option value="central secretariat">Central Secretariat</option>
                                  <option value="udyog bhawan">Udyog Bhawan</option>
                                  <option value="lok kalyan marg">Lok Kalyan Marg</option>
                                  <option value="jor bagh">Jorbagh</option>
                                  <option value="ina">Delhi Haat INA</option>
                                  <option value="aiims">AIIMS</option>
                                  <option value="green park">Green Park</option>
                                  <option value="hauz khas">Hauz Khas</option>
                                  <option value="malviya nagar">Malviya Nagar</option>
                                  <option value="saket">Saket</option>
                                  <option value="qutub minar">Qutab Minar</option>
                                  <option value="chhatarpur">Chhatarpur</option>
                                  <option value="sultanpur">Sultanpur</option>
                                  <option value="ghitorni">Ghitorni</option>
                                  <option value="arjan garh">Arjan Garh</option>
                                  <option value="">Gurudronacharya</option>
                                  <option value="sikandarpur">Sikanderpur</option>
                                  <option value="mg road">MG Road</option>
                                  <option value="iffco chowk">IFFCO Chowk</option>
                                  <option value="huda city centre">Huda City Centre</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="metroStations" style="font-weight: bold;">Select Source Station:</label>
                                <select class="form-control" id="metroStations" name="finalStation">
                                  <option value="samaypur badli">Samaypur Badli</option>
                                  <option value="rohini sector 18">Rohini Sector 18-19</option>
                                  <option value="haiderpur">Haiderpur Badli Mor</option>
                                  <option value="jahangirpuri">Jahangirpuri</option>
                                  <option value="adarsh nagar">Adarsh Nagar</option>
                                  <option value="azadpur">Azadpur</option>
                                  <option value="model town">Model Town</option>
                                  <option value="gtb nagar">GTB Nagar</option>
                                  <option value="vishwa vidyalaya">Vishwavidyalaya</option>
                                  <option value="vidhan sabha">Vidhan Sabha</option>
                                  <option value="civil lines">Civil Lines</option>
                                  <option value="kashmere gate">Kashmere Gate</option>
                                  <option value="chandni chowk">Chandni Chowk</option>
                                  <option value="chawri bazar">Chawri Bazar</option>
                                  <option value="new delhi">New Delhi</option>
                                  <option value="rajiv chowk">Rajiv Chowk</option>
                                  <option value="patel chowk">Patel Chowk</option>
                                  <option value="central secretariat">Central Secretariat</option>
                                  <option value="udyog bhawan">Udyog Bhawan</option>
                                  <option value="lok kalyan marg">Lok Kalyan Marg</option>
                                  <option value="jor bagh">Jorbagh</option>
                                  <option value="ina">Delhi Haat INA</option>
                                  <option value="aiims">AIIMS</option>
                                  <option value="green park">Green Park</option>
                                  <option value="hauz khas">Hauz Khas</option>
                                  <option value="malviya nagar">Malviya Nagar</option>
                                  <option value="saket">Saket</option>
                                  <option value="qutub minar">Qutab Minar</option>
                                  <option value="chhatarpur">Chhatarpur</option>
                                  <option value="sultanpur">Sultanpur</option>
                                  <option value="ghitorni">Ghitorni</option>
                                  <option value="arjan garh">Arjan Garh</option>
                                  <option value="">Gurudronacharya</option>
                                  <option value="sikandarpur">Sikanderpur</option>
                                  <option value="mg road">MG Road</option>
                                  <option value="iffco chowk">IFFCO Chowk</option>
                                  <option value="huda city centre">Huda City Centre</option>
                                </select>
                              </div>
                            	<!-- <button style="width: 100%; border: 0px; background-color: rgb(236, 151, 22);"
                                class="btn btn-primary">Calculate Fare</button>
					 -->
								<div class="col-md-6">
									<h1 style="padding: 50px; color: rgb(119, 5, 5);">&#8377 -</h1>
								</div>
								<div style="margin-top: 20px">
									<label class="radio-inline"><input type="radio" name="optradio" checked><strong>Morning Slots</strong></label>
								   <label class="radio-inline"><input type="radio" name="optradio"><strong>Evening Slots</strong></label>
								  </div>
								<div class="form-group">
													<label for="Timeslots" style="font-weight: bold;">Select Time from now(in minutes):</label>
													<select class="form-control" id="metroStations" name="timedifference">
													  <option>5</option>
													  <option>10</option>
													  <option>15</option>
													  <option>20</option>
													  <option>25</option>
													  <option>30</option>
													  <option>35</option>
													  <option>40</option>
													  <option>45</option>
													  <option>50</option>
													  <option>55</option>
													  <option>60</option>

													</select>
								</div>
                              <!-- <button type="button" style="width: 100%; border: 0px; background-color: rgb(236, 151, 22);"
                                class="btn btn-primary">Check Availability</button> -->
                                <button  style="width: 100%; border: 0px; margin-top: 10px"
                                class="btn btn-success">Confirm Booking</button>
                        </form>
						<button  class="btn btn-light"><a href="/show/<%=currentUser._id%>">Go to Home</a></button>
			</div>

        </div>
    </div>

<%- include("partials/footer") %> 
    